<!-- Navigation Header start -->
<%= render 'website_shared/navigation' %>
<!-- navigation Header end  -->

<!-- hearo slider touch responsive -->
<section class="swiper-container heroSlider" id="hello">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is first slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Second slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Third slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Fourth slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Fifth slide
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white hidden-sm hidden-xs"></div>
  <div class="swiper-button-prev swiper-button-white hidden-sm hidden-xs"></div>
</section>
<!-- hearo slider touch responsive end -->

<!-- Intro Section Starting from here -->
<section class="dnIntro" id="intro">
  <div class="dnIntro-caption">
    <div class="dnIntro-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>INTRO <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section Starting from here END -->

<!-- about section Starting from here -->
<section id="about" class="dnAbout">
  <div class="dnAbout-caption">
    <div class="dnAbout-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>About <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about Section end -->

<!-- Skills Section Starting from here -->
<section id="skills" class="dnSkills">
  <div class="dnSkills-caption">
    <div class="dnSkills-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Skills Section end -->

<!-- Work Done Section Starting from here -->
<section id="work" class="dnWork">
  <div class="dnWork-caption">
    <div class="dnWork-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>Work <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work Section end -->

<!-- Work Done Section Starting from here -->
<section id="lab" class="dnLab">
  <div class="dnLab-caption">
    <div class="dnLab-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>Lab <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work Section end -->

<!-- Navigation footer -->
<%= render 'website_shared/footer' %>
<!-- navigation footer end -->