<section id="about" class="dnAbout">
  <div class="dnAbout-caption">
    <div class="dnAbout-content">
      <div class="container">
        <div class="animatedParent">
          <h2 class="animated growIn slowest go">Quick Start</h2>
        </div>
        <div class="animatedParent col-md-6" data-sequence="1000">
          <p class="animated bounceInLeft go" data-id="1"> Include css3-animated.js at the end of your file and animations.css in the head. </p>
          <p class="animated bounceInLeft go" data-id="2"> Once you have done that you can just define <b>"animatedParent"</b> as the parent class which is what will trigger the child <b>class "animated"</b> to animate whichever animation is defined, here we are using <b>"bounceInDown"</b>. </p>
          <p class="animated bounceInLeft go" data-id="3"> <a href="http://jackonthe.net/css3animateit/examples">Click here</a> to see an example of all the animations. </p>
        </div>
        <div class="animatedParent col-md-6">
          <pre class="animated bounceInRight slow go">&lt;div class='<span class="highlighter">animatedParent</span>'&gt;
        &lt;h2 class='<span class="highlighter">animated bounceInDown</span>'&gt;It Works!&lt;/h2&gt;
      &lt;/div&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</section>