<section class="swiper-container heroSlider" id="hello">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is first slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Second slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Third slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Fourth slide
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Fifth slide
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white hidden-sm hidden-xs"></div>
  <div class="swiper-button-prev swiper-button-white hidden-sm hidden-xs"></div>
  <a href="#intro" class="mouse-icon animated bounceInUp go slower"><div class="wheel"></div></a>
</section>