<section class="swiper-container heroSlider" id="hello">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-md-offset-3">
              A self-taught &amp; award winning Digital Art Director, Designer &amp; Developer with over seven years work experience.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-caption">
        <div class="swiper-content-holder">
          <div class="container">
            this is Second slide
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white hidden-sm hidden-xs"></div>
  <div class="swiper-button-prev swiper-button-white hidden-sm hidden-xs"></div>
  <a href="#intro" class="mouse-icon animated bounceInUp go slower page-scroll"><div class="wheel"></div></a>
</section>