<section class="dnIntro" id="intro">
  <div class="dnIntro-caption">
    <div class="dnIntro-content">
      <div class="container animatedParent">
        <div class="row animated bounceInDown slower go">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-md-offset-2">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>INTRO <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div class="introText">
                Hi, I’m Bhanu Pratap, a young creative developer from India.
                <br>
                I have multiple skills in development, design and project management.
                <br>
                My areas of interest include creating beautiful,interactive, responsive and user friendly websites.
                <br>
                Thanks for your visit on my portfolio, feel free to share and draw more on <strong><a href="#" title="draw more on Dribbble">Dribbble</a></strong>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>