<section class="dnIntro" id="intro">
  <div class="dnIntro-caption">
    <div class="dnIntro-content">
      <div class="container animatedParent">
        <div class="row animated bounceInDown go slower">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-md-offset-2">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>INTRO <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div class="introText">
                Hi, I’m Bhanu Pratap, a young creative developer from India.
                <br>
                I have multiple skills in development, design and project management.
                <br>
                My areas of interest include creating beautiful,interactive, responsive and user friendly websites.
                <br>
                Thanks for your visit on my portfolio, feel free to share and draw more on <strong><a href="#" title="draw more on Dribbble">Dribbble</a></strong>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="dnSkills">
  <div class="dnSkills-caption">
    <div class="dnSkills-content">
      <div class="container animatedParent">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 spaceBnano">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 text-right animated fadeInLeft slower go">
            <div class="content-box alt-right">
              <div class="alt-icon-right">
                <i class="fa fa-desktop fa-3x" aria-hidden="true"></i>
              </div>
              <h4 class="alt-title">Bootstrap 3</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
            <div class="content-box alt-right">
              <div class="alt-icon-right">
                <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
              </div>
              <h4 class="alt-title">Clean code &amp; design</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
            <div class="content-box alt-right">
              <div class="alt-icon-right">
                <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
              </div>
              <h4 class="alt-title">Flexible &amp; Customizable</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
          </div>
          <!-- Image Mockup -->
          <div class="col-md-4 hidden-sm hidden-xs text-center stat animated bounceInUp slower go">
            <%= image_tag 'skills/skills-moibile-screen.jpg' %>
          </div>
          <!-- End Image Mockup -->
          <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 text-left animated fadeInRight slower go">
            <div class="content-box alt-left">
              <div class="alt-icon-left">
                <i class="icon-mobile"></i>
              </div>
              <h4 class="alt-title">Fully Reasponsive</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
            <div class="content-box alt-left">
              <div class="alt-icon-left">
                <i class="icon-pricetags"></i>
              </div>
              <h4 class="alt-title">Mutli prapose Theme</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
            <div class="content-box alt-left">
              <div class="alt-icon-left">
                <i class="icon-document"></i>
              </div>
              <h4 class="alt-title">Well Documented</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
            <div class="content-box alt-left">
              <div class="alt-icon-left">
                <i class="icon-chat"></i>
              </div>
              <h4 class="alt-title">Friendly Support</h4>
              <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>