<section id="skills" class="dnSkills">
  <div class="dnSkills-caption">
    <div class="dnSkills-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
