<section class="dnSkills">
  <div class="dnSkills-caption">
    <div class="dnSkills-content">
      <div class="animatedParent">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 spaceB120">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="skills">
          <div class="col-md-12">
            <div class="col-md-6 animated fadeInLeft slower go skillsLeft">
              <div class="col-md-8">
                <div class="skillsContent leftContent">
                  this is the text contnet
                </div>
              </div>
              <div class="col-md-4">&nbsp;</div>
            </div>
            <div class="col-md-6 animated fadeInRight slower go skillsRight">
              <div class="col-md-4">&nbsp;</div>
              <div class="col-md-8">
                <div class="skillsContent rightContent">
                  this is the text contnet
                </div>
              </div>
            </div>
            <!-- Image Mockup -->
            <div class="col-md-4 hidden-sm hidden-xs text-center stat animated bounceInUp slower go col-md-offset-4 skillsPicture hidden-sm hidden-xs">
              <%= image_tag 'skills/skills-moibile-screen.jpg' %>
            </div>
            <!-- End Image Mockup -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="hidden-sm hidden-xs hidden-md  hidden-lg">
  <div class="col-md-4 col-sm-6 text-right ">
    <div class="content-box alt-right">
      <div class="alt-icon-right">
        <i class="fa fa-desktop fa-3x" aria-hidden="true"></i>
      </div>
      <h4 class="alt-title">Bootstrap 3</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
    <div class="content-box alt-right">
      <div class="alt-icon-right">
        <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
      </div>
      <h4 class="alt-title">Clean code &amp; design</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
    <div class="content-box alt-right">
      <div class="alt-icon-right">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
      </div>
      <h4 class="alt-title">Flexible &amp; Customizable</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 text-left animated fadeInRight slower go">
    <div class="content-box alt-left">
      <div class="alt-icon-left">
        <i class="icon-mobile"></i>
      </div>
      <h4 class="alt-title">Fully Reasponsive</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
    <div class="content-box alt-left">
      <div class="alt-icon-left">
        <i class="icon-pricetags"></i>
      </div>
      <h4 class="alt-title">Mutli prapose Theme</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
    <div class="content-box alt-left">
      <div class="alt-icon-left">
        <i class="icon-document"></i>
      </div>
      <h4 class="alt-title">Well Documented</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
    <div class="content-box alt-left">
      <div class="alt-icon-left">
        <i class="icon-chat"></i>
      </div>
      <h4 class="alt-title">Friendly Support</h4>
      <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
    </div>
  </div>
</div>