<section id="skills" class="dnSkills">
  <div class="dnSkills-caption">
    <div class="dnSkills-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="service" class="section-padding">
  <div class="container text-center">
    <h1 class="mb-60">Key Features</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 animated fadeInLeft go" style="visibility: visible; animation-name: fadeInLeft;">
        <div class="content-box alt-right">
          <div class="alt-icon-right">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </div>
          <h4 class="alt-title">Bootstrap 3</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-right">
          <div class="alt-icon-right">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
          <h4 class="alt-title">Clean code &amp; design</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-right">
          <div class="alt-icon-right">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </div>
          <h4 class="alt-title">Flexible &amp; Customizable</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-right">
          <div class="alt-icon-right">
            <i class="icon-layers"></i>
          </div>
          <h4 class="alt-title">Unlimited layouts</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
      </div>
      <!-- Image Mockup -->
      <div class="col-md-4 hidden-sm hidden-xs text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <img alt="" src="img/mockup/mockup01.png" style="width: 100%; max-width: 320px;">
      </div>
      <!-- End Image Mockup -->
      <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
        <div class="content-box alt-left">
          <div class="alt-icon-left">
            <i class="icon-mobile"></i>
          </div>
          <h4 class="alt-title">Fully Reasponsive</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-left">
          <div class="alt-icon-left">
            <i class="icon-pricetags"></i>
          </div>
          <h4 class="alt-title">Mutli prapose Theme</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-left">
          <div class="alt-icon-left">
            <i class="icon-document"></i>
          </div>
          <h4 class="alt-title">Well Documented</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
        <div class="content-box alt-left">
          <div class="alt-icon-left">
            <i class="icon-chat"></i>
          </div>
          <h4 class="alt-title">Friendly Support</h4>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        </div>
      </div>
    </div>
  </div>
</section>