// Import Variables and mixins

@import "variables";
@import "mixins";

footer {
  padding: $spacenone;
}

// contact block css
.contactInfo {
  background-color: $grey-secondary;

  .container {
    padding: $spacesmall + $spacexsmall 0;
  }

}

// Contact Block end

// contact form and map block

.contactmapForum {

  > div {
    padding: $spacenone;
  }

  form {
    padding: $spacelarge - $spacesmall 0;
  }

}

.contact-form {
  margin-top: $spacesmall;

  .textarea {
    resize: none;
  }

}

.form-control {
  @include transiction(0.6s);
  border-radius: 0;
  border: none;
  border-bottom: solid 3px $grey-optional;
  box-shadow: none;
  color: $brand-secondary;
  height: 49px;
  text-transform: $uppercase;
  padding: $spacexsmall + 1 0;

  &:focus {
    border-color: $brand-secondary;
    box-shadow: none;
    padding: $spacexsmall + 1 $spacemedium - 2;
  }
}

.form-control-feedback {
  line-height: 50px;
  top: 0px;
}

.main-btn {
  @include border-radius(3px);
  @include transiction(0.6s);
  background: $brand-primary;
  border-color: $brand-primary;
  color: $grey-secondary;
  padding: $spacesmall $spacemedium;
  text-shadow: none;
  text-transform: $uppercase;


  &:hover {
    background: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-white;
  }

}

// contact form and map block end

// social connect blcok css
.socialConnect {
  background-color: $grey-secondary;
  padding: $spacexlarge + $spacemedium 0;
}

.iconHolder {
  border-right: $dashedborder 2px $grey-primary;
  height: 71px;
  padding: $spacexsmall + 1 $spacesmall;
  text-align: $aligncenter;

  a {
    @include border-radius(30px);
    background-color: $grey-primary;
    display: $inBlock;
    height: 58px;
    width: 58px;

    &:hover {
      background-color: $brand-secondary;
    }

  }

}

.socialIcons {
  background: image-url("sprites/socialIcons.svg") 0 0 no-repeat;
}


// contactUpdates block css

  .contactUpdates {

    .container {
      padding: $spacexlarge + $spacemedium 0;
    }

    .btn-lg {
      padding: $spacesmall + 3 $spacesmall + $spacexsmall + 1;
    }

    .input-group {
      @include border-radius(25px);
      background-color: $brand-white;
      border: solid 2px $brand-secondary;
      margin-top: $spacesmall;
    }

    .inputText {
      @include border-radius(25px 0 0 25px);
      color: $brand-secondary;
      font-size: $textxsmall;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: $alignleft;

      &:focus {
        outline: none;
      }

    }

    .btnSubmit {
      @include border-radius(0 25px 25px 0);
      @include transiction(0.6s);
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: $brand-white;
      font-size: $textxsmall;
      font-weight: 300;
      letter-spacing: 1px;
      outline: none;
      position: $absolute;
      right: -1px;

      &:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }

  }

// contact updates vblock css end

// footer navigation block css
.footerNavigation {
  color: $brand-secondary;
  font-size: $textxsmall;

  .container {
    border-bottom: $solidborder 1px $brand-secondary;
    border-top: $solidborder 1px $brand-secondary;
    padding: $spacesmall + $spacexsmall 0;

    div {
      padding: 0;
    }
  }

  a {
    &:after {
      border-right: $solidborder 1px $brand-secondary;
      content: ' ';
      display: $inBlock;
      height: 13px;
      margin: 0 $spacesmall;
      vertical-align: middle;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }

}
// footer navigation end

// footer logo

.footerLogo {
  padding: $spacemedium 0;
}