// Import Variables and mixins

@import "variables";
@import "mixins";

/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
 .navbar-default {
  background-color: rgba($brand-white, .7);
  border: none;

  &.navbar-shrink {
    background-color: $brand-white ;
  }

 }

.navbar-brand {
  height: auto;
  visibility: hidden;
  width: 240px;
}

.nav > li {

  margin-left: -1px;

  &:before {
    color: $brand-secondary;
    content: '|';
    display: $inBlock;
    height: 30px;
    padding: $spacemedium + $spacesmall - 4 0;
    width: 1px;
  }

  &.first-child {

    &:before {
      content: ' ';
      padding: 0;
    }

  }

  > a {
    @include transiction(0.8s);
    color: $brand-secondary;
    display: $inBlock;
    margin-bottom: $spacemedium + $spacesmall - 4;
    margin-top: $spacemedium + $spacesmall - 4;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;

    &:hover {
      color: $brand-primary;
    }
  }

}

.navbar-default .navbar-nav > li > a{
  color: $brand-secondary;

  &:hover {
    color: $brand-primary;
  }
}

.navbar-container {
  padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  @include transiction(0.8s);
}

// mobile cross icon
.navbar-header .navbar-toggle {
  background: $transparent;
  border: 0;
  margin-right: 0;
  outline: none;
  padding: $spacemedium;

  &:hover {
    background: $transparent;
  }

  .icon-bar {
    @include transiction(0.2s);
    background-color: $brand-secondary;
    border-radius: 0;
    width: 22px;
  }

  &.collapsed {

    .icon-bar {
      background-color: $brand-primary;
    }

    .top-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }

    .bottom-bar {
      transform: rotate(0);
    }

  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

}

// hero Slider
.heroSlider {
  background-repeat: no-repeat;
  background-size: cover;
  background: image-url("hero-banner/hearo-01.svg") center top;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;

  .swiper-slide {
    text-align: $alignleft;
    font-size: $textsmall;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }

}

.swiper-caption {
  @extend .cell-content-caption;

  .swiper-content-holder {
    @extend .content-holder;
  }
}