// Import Variables and mixins

@import "variables";
@import "mixins";

// Common CSS

body {
  color: $brand-secondary;
  font-size: 1.2em;

  a {
    @include transiction(0.6s);
    border: none;
    color: $brand-secondary;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}

// Headings Common

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.headingSecondary {

  .headingHolder {
    display: $inBlock;
    padding: $spacexsmall 0 $spacexsmall $spacesmall;
    width: $width100p;
  }

  h2 {
    font-size: $textmedium - 0.8;
  }

  &:before {
    border-right: $solidborder 3px $brand-primary;
    content: '';
    display: $inBlock;
    height: 77px;
    margin-left: -15px;;
    vertical-align: $verticalTop;
    width: 3px;
  }

  span {
    display: $block;
    font-size: $textsmall - 0.3;
    font-weight: lighter;
  }

}

// Common Padding & margin

.spaceTzero {
  padding-top : 0;
}

.spaceRzero {
  padding-right : 0;
}

.spaceBzero {
  padding-bottom : 0;
}

.spaceLzero {
  padding-left : 0;
}

// align and floats

.alignleft {
  float: $alignleft;
}

.textleft {
  float: $alignleft;
}

.alignright {
  float: $alignright;
}

.textright {
  text-align: $alignright;
}

.aligncenter {
  text-align: $aligncenter;
}

// text color
.secondaryColor {
  color: $brand-primary;
}