// Text Colour

$bg-secondary:    #F8F4F4;
$brand-black:     #222222;
$brand-primary:   #A82900;
$brand-secondary: #292E4A;
$brand-white:     #ffffff;
$grey-primary:    #D5D5D5;
$grey-secondary:  #F5F5F5;


// Font size

$textxsmall: 1em;
$textsmall:  2em;
$textmedium: 4em;
$textlarge:  6em;
$textxlarge: 8em;


// Common Margin & paddings & spacing
$spacexsmall:     5px;
$spacesmall:     10px;
$spacemedium:    20px;
$spacelarge:     40px;
$spacexlarge:    80px;
$spacexxxlarge: 150px;

// alignment

$alignleft :   left;
$alignright : right;


// verticall alignment

// font weight
